@model List<bootcoin.Models.Admin.TeamsViewModel>

@{
    Layout = "~/Views/Shared/CommonFrame.cshtml";

    ViewBag.Title = "Admin - Teams";
    ViewBag.Active = "team";

    var team = "B";
}

@section Styles{
    <link rel="stylesheet" href="~/css/ProfileCollage.css">
    <link rel="stylesheet" href="~/css/Teams.css" />
}

@section Scripts{
    <script src="~/js/Teams.js"></script>
}

<div class="content-header">
    <div class="about">
        @*<span class="title">Meet Team @(team)</span>*@
        <span class="title">Meet The Team</span>
        <span class="description">Below are the list of the team members</span>
    </div>
</div>

<div class="profile-collage">
    @{
        var count = 0;
    }
    @foreach (var person in Model)
    {
        count += 1;

        <div class="container prevent-select">
            <div class="card">
                <div class="front">
                    <img src="https://source.unsplash.com/random/349x239?v=@count" alt="profile picture">
                    <div class="detail">
                        <div class="identity">
                            <span class="hidden email">@person.Email</span>
                            <span class="name">@person.Name</span>
                            <span class="role">@person.Role</span>
                        </div>
                        <div class="credit">
                            <div class="balance">
                                <img src="~/icons/site-logo.png" alt="">
                                <span class="value">@person.Balance</span>
                            </div>
                            <div class="add">
                                <span>+</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="back">
                    <div class="header">
                        <span class="name" n>@person.Name</span>
                        <div class="credit">
                            <img src="~/icons/site-logo.png" alt="">
                            <span class="value">@person.Balance</span>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="attribute">
                            <span class="name">Role</span>
                            <span class="value">@person.Role</span>
                        </div>
                        <div class="attribute">
                            <span class="name">Career Path</span>
                            <span class="value">@person.Department</span>
                        </div>
                        <div class="attribute">
                            <span class="name">MBTI</span>
                            <span class="value">@person.Mbti</span>
                        </div>
                        <div class="attribute">
                            <span class="name">Zodiac</span>
                            <span class="value">@person.Zodiac</span>
                        </div>
                        <div class="attribute">
                            <span class="name">Favorite Food</span>
                            <span class="value">@person.FavoriteFood</span>
                        </div>
                        <div class="attribute">
                            <span class="name">3 Fun Fact</span>
                            <ol type="1" class="list">
                                @if (person.FunFact != null)
                                {
                                    @foreach (var fact in person.FunFact.Split(";"))
                                    {
                                        <li><span>@fact</span></li>
                                    }
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    
</div>

<div class="pop-up-window input-coin">
    <div class="header">
        <img src="~/icons/site-logo.png" alt="">
        <span class="title">Add bootcoin for agent!</span>
        <div class="close-button">
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
    <div class="body">
        <form action="/Admin/InputCoin" method="post">
            <input type="hidden" name="email" value="" />

            <div class="entry">
                <label for="amount" class="required">Bootcoin amount</label>
                <input required type="number" min="0" id="amount" name="amount"/>
            </div>

            <input type="submit" class="submit" value="Add" />
        </form>
    </div>
</div>


<div class="cover-overlay"></div>